<div *ngIf="product$ | async as product; else noProduct">

  <div>
    ID: {{ product.id }}
  </div>
  <div>
    Name: {{ product.productName }}
  </div>
  <div>
    Description: {{ product.description }}
  </div>

  <p>
    <button [routerLink]="['..']">Go back to Product List</button>
    <button [routerLink]="['/products', product.id + 1]">Go Next product!</button>
  </p>

</div>
<ng-template #noProduct>
  <h4>YOU FAIL THIS PRODUCT! 💥</h4>

  <button [routerLink]="['..']">So the only choice is to go back 😎</button>
</ng-template>
